body {
  font-size: 16px;
  color: #fff;
  background-color: #e3fff5;
  font-family: 'Oxygen', sans-serif;

}
.container {
  width: 100%;
}

.navbar {
  background-color: #00a86b;
	border-radius: 0;
  border: 2px solid #5a0021;
  margin: 0px;
  padding-left: 10px;
}

.navbar-brand  h1{

  text-shadow: 1px 1px 1px #222;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
  line-height: .75;  
  color: #fff;
  font-family: 'Oxygen', sans-serif;
  text-decoration: none;
  margin-top: 0px;
 }
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #fff;
  font-weight: bold;
}

#nav-list a br {
  vertical-align: middle;
}

#nav-list a:hover {
  background: #ff1f70;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #fff;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

h1 {
  color: #5a0021;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #222;
}
.container p {
  color: #005c3a;
}

section {
  color: #5a0021;
}